<div class="content">

    <div class="container">
        <h2 class="mb-5">Mes absences </h2>






        <div class="table-responsive">


            <form [formGroup]="reclamForm">

                <table class="table table-striped custom-table">
                    <thead>
                        <tr>




                            <th scope="col">jour</th>


                            <th scope="col">les Presences </th>
                            <th scope="col"> Nom du matérie </th>


                            <th scope="col">Reclamation</th>

                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>


                        <tr *ngFor="let c of myfiches">


                            <td class="pl-0">
                                {{c.date}}
                            </td>

                            <td class="pl-0">
                                {{c.presence}}
                            </td>




                            <ng-container *ngFor="let b of matieres">

                                <td *ngIf="c.idMatiere == b._id" [value]="b._id"> {{b.nomMatiere}}</td>
                            </ng-container>





                            <td>


                                <input class="form-control" id="inputLastName" type="text"
                                    placeholder="Enter vote Reclamation" formControlName="reclamation">

                            </td>








                            <td class="pl-0">

                                <button mat-fab color="second" aria-label="Example icon button with a delete icon"
                                    (click)="add(reclamForm.value,c._id)">
                                    <mat-icon>check_circle</mat-icon>
                                </button>
                            </td>






                        </tr>





                    </tbody>
                </table>
            </form>
        </div>


    </div>

</div>