



 


<div class="content">
    
  <div class="container">
    <h2 class="mb-5">Bulletin d'élève </h2>

    <table class="table">
      <thead>
          <tr>
              <th scope="col">Nom élève</th>
              <th scope="col">Prénom élève</th>
              <th scope="col">Niveau</th>
              <th scope="col">Groupe</th>
              
          </tr>
      </thead>
      <tbody>
          <tr         >
            
              <th scope="row">Karoui </th>
              <td>Mayssa</td>
              <td>2éme}</td>
           
              
              <td>B</td>
          </tr>
         
      </tbody>
  </table><br>


    <table class="table">
      <thead>
          <tr>
              <th scope="col">Matiere</th>
              <th scope="col">note</th>
              <th scope="col">coefficient</th>
              <th scope="col">remarque</th>
              <th scope="col">max</th>
              <th scope="col">min</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <th scope="row">انتاج كتابي </th>
              <td>20</td>
              <td>2</td>
              <td>
                  <div class="col-md-6">
                    <!-- <input class="form-control" id="Remarque" type="text" placeholder="Enter Votre remarque"  [(ngModel)]="fiche.Remarque" [ngModelOptions]="{standalone:true}"> -->
                    <textarea
                      matInput
                      class="form-control"
                      name=""
                      id=""
                      cols="60"
                      rows="1"
                      placeholder="Notez vos notes de la journée"
                      formControlName="ااضارب"
                    ></textarea>
                  </div>
                </td>
              <td>20</td>
              <td>0</td>
          </tr>
          <tr>
              <th scope="row">تواصل الشفاهي</th>
              <td>20</td>
              <td>2</td>
              <td>
                  <div class="col-md-6">
                    <!-- <input class="form-control" id="Remarque" type="text" placeholder="Enter Votre remarque"  [(ngModel)]="fiche.Remarque" [ngModelOptions]="{standalone:true}"> -->
                    <textarea
                      matInput
                      class="form-control"
                      name=""
                      id=""
                      cols="60"
                      rows="1"
                      placeholder="Notez vos notes de la journée"
                      formControlName="ااضارب"
                    ></textarea>
                  </div>
                </td>
              <td>20</td>
              <td>0</td>
          </tr>
          <tr>
              <th scope="row">قراء و فهم</th>
              <td>20</td>
              <td>2</td>
              <td>
                  <div class="col-md-6">
                    <!-- <input class="form-control" id="Remarque" type="text" placeholder="Enter Votre remarque"  [(ngModel)]="fiche.Remarque" [ngModelOptions]="{standalone:true}"> -->
                    <textarea
                      matInput
                      class="form-control"
                      name=""
                      id=""
                      cols="60"
                      rows="1"
                      placeholder="Notez vos notes de la journée"
                      formControlName="ااضارب"
                    ></textarea>
                  </div>
                </td>
              <td>20</td>
              <td>0</td>
          </tr>

          <tr>
              <th scope="row">قواعد اللغة</th>
              <td>20</td>
              <td>2</td>
              <td>
                  <div class="col-md-6">
                    <!-- <input class="form-control" id="Remarque" type="text" placeholder="Enter Votre remarque"  [(ngModel)]="fiche.Remarque" [ngModelOptions]="{standalone:true}"> -->
                    <textarea
                      matInput
                      class="form-control"
                      name=""
                      id=""
                      cols="60"
                      rows="1"
                      placeholder="Notez vos notes de la journée"
                      formControlName="ااضارب"
                    ></textarea>
                  </div>
                </td>
              <td>20</td>
              <td>0</td>
          </tr>
      </tbody>
  </table><br>























    
  
  
  
  
  
  
  <br>


  <table class="table">
      <thead>
          <tr>
              <th scope="col">Matiere</th>
              <th scope="col">note</th>
              <th scope="col">coefficient</th>
              <th scope="col">remarque</th>
              <th scope="col">max</th>
              <th scope="col">min</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <th scope="row">الرياضيات </th>
              <td>20</td>
              <td>2</td>
              <td>
                  <div class="col-md-6">
                    <!-- <input class="form-control" id="Remarque" type="text" placeholder="Enter Votre remarque"  [(ngModel)]="fiche.Remarque" [ngModelOptions]="{standalone:true}"> -->
                    <textarea
                      matInput
                      class="form-control"
                      name=""
                      id=""
                      cols="60"
                      rows="1"
                      placeholder="Notez vos notes de la journée"
                      formControlName="ااضارب"
                    ></textarea>
                  </div>
                </td>
              <td>20</td>
              <td>0</td>
          </tr>
          <tr>
              <th scope="row">الايقاظ العلمي </th>
              <td>20</td>
              <td>2</td>
              <td>
                  <div class="col-md-6">
                    <!-- <input class="form-control" id="Remarque" type="text" placeholder="Enter Votre remarque"  [(ngModel)]="fiche.Remarque" [ngModelOptions]="{standalone:true}"> -->
                    <textarea
                      matInput
                      class="form-control"
                      name=""
                      id=""
                      cols="60"
                      rows="1"
                      placeholder="Notez vos notes de la journée"
                      formControlName="ااضارب"
                    ></textarea>
                  </div>
                </td>
              <td>20</td>
              <td>0</td>
          </tr>
          <tr>
              <th scope="row">التربية التكنولجية </th>
              <td>20</td>
              <td>2</td>
              <td>
                  <div class="col-md-6">
                    <!-- <input class="form-control" id="Remarque" type="text" placeholder="Enter Votre remarque"  [(ngModel)]="fiche.Remarque" [ngModelOptions]="{standalone:true}"> -->
                    <textarea
                      matInput
                      class="form-control"
                      name=""
                      id=""
                      cols="60"
                      rows="1"
                      placeholder="Notez vos notes de la journée"
                      formControlName="ااضارب"
                    ></textarea>
                  </div>
                </td>
              <td>20</td>
              <td>0</td>
          </tr>

          
      </tbody>
  </table><br>


   



   
  <table class="table">
      <thead>
          <tr>
              <th scope="col">Matiere</th>
              <th scope="col">note</th>
              <th scope="col">coefficient</th>
              <th scope="col">remarque</th>
              <th scope="col">max</th>
              <th scope="col">min</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <th scope="row">Etude de texte </th>
              <td>20</td>
              <td>2</td>
              <td>
                  <div class="col-md-6">
                    <!-- <input class="form-control" id="Remarque" type="text" placeholder="Enter Votre remarque"  [(ngModel)]="fiche.Remarque" [ngModelOptions]="{standalone:true}"> -->
                    <textarea
                      matInput
                      class="form-control"
                      name=""
                      id=""
                      cols="60"
                      rows="1"
                      placeholder="Notez vos notes de la journée"
                      formControlName="ااضارب"
                    ></textarea>
                  </div>
                </td>
              <td>20</td>
              <td>0</td>
          </tr>
          <tr>
              <th scope="row">Expression Ecrite</th>
              <td>20</td>
              <td>2</td>
              <td>
                  <div class="col-md-6">
                    <!-- <input class="form-control" id="Remarque" type="text" placeholder="Enter Votre remarque"  [(ngModel)]="fiche.Remarque" [ngModelOptions]="{standalone:true}"> -->
                    <textarea
                      matInput
                      class="form-control"
                      name=""
                      id=""
                      cols="60"
                      rows="1"
                      placeholder="Notez vos notes de la journée"
                      formControlName="ااضارب"
                    ></textarea>
                  </div>
                </td>
              <td>20</td>
              <td>0</td>
          </tr>
          <tr>
              <th scope="row">Expression Orale</th>
              <td>20</td>
              <td>2</td>
              <td>
                  <div class="col-md-6">
                    <!-- <input class="form-control" id="Remarque" type="text" placeholder="Enter Votre remarque"  [(ngModel)]="fiche.Remarque" [ngModelOptions]="{standalone:true}"> -->
                    <textarea
                      matInput
                      class="form-control"
                      name=""
                      id=""
                      cols="60"
                      rows="1"
                      placeholder="Notez vos notes de la journée"
                      formControlName="ااضارب"
                    ></textarea>
                  </div>
                </td>
              <td>20</td>
              <td>0</td>
          </tr>

          <tr>
              <th scope="row">Anglais</th>
              <td>20</td>
              <td>2</td>
              <td>
                  <div class="col-md-6">
                    <!-- <input class="form-control" id="Remarque" type="text" placeholder="Enter Votre remarque"  [(ngModel)]="fiche.Remarque" [ngModelOptions]="{standalone:true}"> -->
                    <textarea
                      matInput
                      class="form-control"
                      name=""
                      id=""
                      cols="60"
                      rows="1"
                      placeholder="Notez vos notes de la journée"
                      formControlName="ااضارب"
                    ></textarea>
                  </div>
                </td>
              <td>20</td>
              <td>0</td>
          </tr>
      </tbody>
  </table><br>





  <table class="table">
      <thead>
          <tr>
              <th scope="col">Matiere</th>
              <th scope="col">note</th>
              <th scope="col">coefficient</th>
              <th scope="col">remarque</th>
              <th scope="col">max</th>
              <th scope="col">min</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <th scope="row">التربية الاسلامية </th>
              <td>20</td>
              <td>2</td>
              <td>
                  <div class="col-md-6">
                    <!-- <input class="form-control" id="Remarque" type="text" placeholder="Enter Votre remarque"  [(ngModel)]="fiche.Remarque" [ngModelOptions]="{standalone:true}"> -->
                    <textarea
                      matInput
                      class="form-control"
                      name=""
                      id=""
                      cols="60"
                      rows="1"
                      placeholder="Notez vos notes de la journée"
                      formControlName="ااضارب"
                    ></textarea>
                  </div>
                </td>
              <td>20</td>
              <td>0</td>
          </tr>
          <tr>
              <th scope="row">التربية التشكلية </th>
              <td>20</td>
              <td>2</td>
              <td>
                  <div class="col-md-6">
                    <!-- <input class="form-control" id="Remarque" type="text" placeholder="Enter Votre remarque"  [(ngModel)]="fiche.Remarque" [ngModelOptions]="{standalone:true}"> -->
                    <textarea
                      matInput
                      class="form-control"
                      name=""
                      id=""
                      cols="60"
                      rows="1"
                      placeholder="Notez vos notes de la journée"
                      formControlName="ااضارب"
                    ></textarea>
                  </div>
                </td>
              <td>20</td>
              <td>0</td>
          </tr>
          <tr>
              <th scope="row">التربية الموسقية</th>
              <td>20</td>
              <td>2</td>
              <td>
                  <div class="col-md-6">
                    <!-- <input class="form-control" id="Remarque" type="text" placeholder="Enter Votre remarque"  [(ngModel)]="fiche.Remarque" [ngModelOptions]="{standalone:true}"> -->
                    <textarea
                      matInput
                      class="form-control"
                      name=""
                      id=""
                      cols="60"
                      rows="1"
                      placeholder="Notez vos notes de la journée"
                      formControlName="ااضارب"
                    ></textarea>
                  </div>
                </td>
              <td>20</td>
              <td>0</td>
          </tr>

          <tr>
              <th scope="row"> التربية البدنية </th>
              <td>20</td>
              <td>2</td>
              <td>
                  <div class="col-md-6">
                    <!-- <input class="form-control" id="Remarque" type="text" placeholder="Enter Votre remarque"  [(ngModel)]="fiche.Remarque" [ngModelOptions]="{standalone:true}"> -->
                    <textarea
                      matInput
                      class="form-control"
                      name=""
                      id=""
                      cols="60"
                      rows="1"
                      placeholder="Notez vos notes de la journée"
                      formControlName="ااضارب"
                    ></textarea>
                  </div>
                </td>
              <td>20</td>
              <td>0</td>
          </tr>
      </tbody>
  </table><br>








  <table class="table">
    <thead>
        <tr>
            <th scope="col">Moyenne Arabe</th>
            <th scope="col">Moyenne matiére scientifique</th>
            <th scope="col">Moyenne  francais </th>
            <th scope="col">Moyenne </th>
            <th scope="col">Moyenne  Générale </th>
        </tr>
    </thead>
    <tbody>
        <tr         >
          
            <th scope="row">20 </th>
            <td>20</td>
            <td>20</td>
         
            <td>20</td>
            <td>20</td>
        </tr>
       
    </tbody>
</table><br>














  </div>














</div>
  
  


